.profile-card {
    display: block;
    text-decoration: none;
    color: inherit;
}

.profile-image-wrapper {
    width: 100%;
    padding-top: 125%;
    position: relative;
}

.profile-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-name {
    text-align: center;
    color: #fff;
    background-color: var(--main-color);
}