@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

:root {
  --main-color: #00B2B2;
  --main-shadow: #00B2B264;
  --text-color: #009b9b;
  --background-color: #F1F9F9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", "Lato", sans-serif;
}

span {
  margin-left: 16px;
}

input {
  font-size: 1.125rem;
}

button {
  height: 40px;
  padding: 0 15px;
  border: none;
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 10px;
  font-size: 1rem;
  line-height: 40px;
  transition: 0.2s;
}

button:hover {
  background-color: #459ba0;
}

#root {
  display: grid;
  grid: 80px 1fr / minmax(250px, 300px) 1fr;
  grid-template-areas:
    "menu header"
    "menu main";
  height: 100vh;
}

.nav-menu {
  grid-area: menu;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  transition: 450ms;
}

.nav-menu-items {
  width: 100%;
}

.nav-menu-toggle {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2rem;
  padding-right: 1rem;
  line-height: 80px;
}

.nav-menu-toggle>* {
  margin: 0;
}

.logo-container {
  border-bottom: #d1d1d1 solid 1px;
}

.nav-menu-toggle.filter {
  color: #000;
  justify-content: space-between;
}

.nav-menu-toggle.filter>span {
  font-size: 1.125rem;
}

.ghost-button {
  background: #00000000;
  color: var(--text-color);
  border: #00000000 solid 1px;
}

.ghost-button:hover {
  background: #0000000b;
}

.menu-bars {
  font-size: 2rem;
  background: none;
  color: #000;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text label {
  text-decoration: none;
  color: #151414;
  font-size: 18px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
  transition: 0.1s;
}

.nav-text label:hover {
  background-color: #000000;
  color: #fff;
}

.nav-text label.active {
  background-color: var(--main-shadow);
  box-shadow: 0 0 5px 2px var(--main-shadow);
}

.dropdown {
  width: 80%;
  margin: -8px auto 0;
  border-radius: 0 0 10px 10px;
  padding: 0 20px;
  color: #fff;
  background-color: var(--main-color);
  opacity: 0.9;
}

.dropdown .nav-text {
  padding: 8px 0;
}

.dropdown label {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-size: 1em;
}

.nav-text .dropdown-icon {
  margin-left: auto;
}

.dropdown-icon {
  transform: rotate(90deg);
  transition: 0.1s;
}

.dropdown-icon.active {
  transform: rotate(0deg);
}

header {
  grid-area: header;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  grid-area: main;
  display: grid;
  grid-template: auto / repeat(auto-fill, 100px);
  gap: 30px;
  justify-items: stretch;
  align-content: start;
  width: 90%;
  margin: 20px auto;
}